.login{
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #00000080;
  z-index: 5;
  justify-content: center;
  align-items: center;
  &__form{
    position: relative;
    width: 100%;
    max-width: 450px;
    padding: 40px 30px;
    background: white;
    border-radius: 10px;
    text-align: center;
    &-title{
      margin-bottom: 40px;
    }
    &-label{
      display: block;
      margin-bottom: 25px;
    }
    &-input {
      width: 100%;
      height: 50px;
      border-radius: 5px;
      padding: 0 15px;
      border: 1px solid #FF6E30;
    }
    &-btn{
      border: 1px solid #FF6E30;
    }
    &-exit{
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer;
    }
  }
}